body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(to Left, #6db3f2 0%,#54a3ee 13%,#3690f0 50%,#1e69de 100%); /* w3c */
}

button {
  cursor: pointer;
}
